.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  max-width: calc(100% - 56px);
  margin: 0 auto;
}

.innr {
  width: calc(100% - 280px);
}

@media screen and (max-width: 767px){
  .wrapper {
    display: block;
    max-width: calc(100% - 28px);
  }
  .innr {
    width: 100%;
  }
}