.innr {
  width: 1200px;
  max-width: calc(100% - 56px);
}

.button {
  display: none;
}

@media screen and (max-width: 767px){
  .innr {
    max-width: calc(100% - 28px);
  }

  .button {
    display: inline-block;
    margin-right: 10px;
    padding: 4px 6px 0 6px;
    border: 2px solid #333;
    border-radius: 50%;
    &:focus {
      outline: none;
    }
  }
}